%script{ :src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript" }
:javascript
  function initialize(result) {
    var myLatlng = new google.maps.LatLng(result.lat, result.lon);
    var myOptions = {
      zoom: 18,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map
    });
  }

%form
  %label Address:
  %input{ :type => 'text', :name => 'address', :value => params[:address], :style => 'width: 400px' }
  %input{ :type => 'submit' }

- if @result
  %hr/
  #map_canvas{ :style => 'width: 600px; height: 400px' }
  %script{ :type => 'text/javascript' }
    = "var result = #{@result[0].to_json};"
    initialize(result);
  %pre
    = @result.to_yaml
